@{
    ViewData["Title"] = "Home Page";
}

<div id="introduction" class="container bg-secondary">
    
</div>
<div id="slideshow" class="container bg-dark">
    
</div>
<div id="details" class="container bg-secondary">
    
</div>
