@{
    ViewData["Title"] = "Inloggen";
}

<header>
    <div id="login-header" class="container bg-white py-3">
        <div class="row m-0 bg-white py-1 text-dark justify-content-center align-content-center align-items-center">
            <div class="col-md-12 m-0 p-0 text-wrap">
                <h1 class="text-break">Inloggen</h1>
                <p class="text-secondary">
                    Log hier in bij uw account. Heb je nog geen account? <a asp-area="" asp-controller="Home" asp-action="Register">Meld je dan aan</a>.
                </p>
            </div>
        </div>
    </div>
</header>

<div id="login-content" class="container bg-white py-3">
    <div class ="row m-0 bg-white px-2 text-dark justify-content-center align-content-center align-items-center">
        <div class=" col-8 col-md-6 col-lg-4 p-0 py-5 p-0">
            <img class="w-100" alt="Het logo van Look" src="~/images/FINAL_OFF_BLACK_FULL_TRANSPARENT.png"/>
        </div>
    </div>

    <div class ="row m-0 bg-white px-2 text-dark justify-content-center align-content-center align-items-center">
        <div class="col-md-8 p-0 m-0">
            @if (ViewBag.loginError) {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.loginErrorText
                </div>
            }
            <form class="needs-validation w-100" name="registreren" asp-controller="Home" asp-action="Login" method="POST" novalidate>
                <div class="form-group w-100">
                    <label for="inputRegisterEmail">E-mailadres</label>
                    <input name="email" type="email" class="form-control form-validation" id="inputRegisterEmail" aria-describedby="emailHelp" placeholder="E-mail" required>
                </div>

                <div class="form-group w-100">
                    <label for="inputPassword">Wachtwoord</label>
                    <input name="password" type="password" class="form-control form-validation password-validate" id="inputPassword" placeholder="Wachtwoord" required>
                </div>

                @if(ViewBag.LoginPogingVijf)
                {
                    <div class="form-group w-100">
                        <label class="sr-only" for="inputReCaptcha">reCAPTCHA</label>
                        <div id="inputReCaptcha" class="w-100 border-0 g-recaptcha" data-sitekey="6Lf50P8ZAAAAAN_hEUTW2BRZ6f-v0X1ShZHbswl9"></div>
                    </div>
                }

                <div class="form-group w-100">
                    <button type="submit" class="btn btn-dark w-100 d-block"><h6 class="my-1">INLOGGEN</h6></button>
                    <input name="__RequestVerificationToken" type="hidden" value="<token_generated_here>">
                </div>
                <div class="form-group m-0 w-100 text-center">
                    @if(ViewBag.LoginPogingDrie)
                    {
                        <a asp-area="" asp-controller="Home" asp-action="WachtwoordVergeten">Wachtwoord vergeten?</a>
                    }
                    <a asp-area="" asp-controller="Home" asp-action="Login">Ik heb al een account.</a>
                </div>
            </form>
        </div>
    </div>
</div>