<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> 
<link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<header>
    <div class ="row p-0 m-0">
            <div class="col-md-2 p-0 m-0"></div>
                <div class="col-md-2 p-0 m-0">
                <button class="btn" data-toggle="modal" data-target="#NieuwBericht">Bericht maken <i class="fa fa-plus"></i></button>
                </div>
                <div class="col-md-3 p-0 m-0">
                    <input type="text" placeholder="Search.." name="search" class="col-md-6 p-0 m-0">
                    <button class="btn"><i class="fa fa-search"></i></button>
                </div>
            <div class="col-md-4 p-0 m-0">
                <a>Sorteren op:</a>
              <select name="SorterenOp" id="SorterenOp">
                <option value="SorteerNieuwsteBerichten">Nieuwste</option>
                <option value="SorteerMeesteLikes">Meeste likes</option>
                <option value="SorteerMeesteReacties">Meeste reacties</option>
            </select>
        </div>
    </div>
</header>
    <div class="row p-3 m-0">
        <div class="col-md-2 p-0 m-0"></div>
        <div class="col-md-7 p-0 m-0">
            <div class="melding rounded">
                    <article class="p-3">
                        <h2>Jas gevonden</h2>
                        <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vitae vehicula elit, quis porttitor eros. Ut tincidunt felis tortor, et lacinia turpis imperdiet et. Integer rhoncus lacus dui, id commodo libero aliquet non. Suspendisse quis felis risus. Nulla eu metus tincidunt, ultricies tortor nec, ultricies turpis. Suspendisse vitae lacinia nulla. Ut imperdiet varius finibus. Proin interdum libero a mi iaculis venenatis. Donec aliquet varius dui, non mollis neque sollicitudin id. Sed lorem quam, porta ac arcu non, pellentesque cursus augue. Ut ac est mauris. Duis tristique ante vitae interdum dictum. Fusce dictum mattis urna eu mattis. Duis vitae rutrum nisl. Mauris ultrices pulvinar neque sed blandit.</P>
                        <div class="row p-0 m-0">
                        <p class="col-md-6 p-0 m-0">Categorie: #jas #broek</p>
                        <p class="col-md-4 p-0 m-0">Geplaatst door:  Lorem Ipsum</p>
                        <button class="col-md-2 p-0 m-0 btn btn-primary" data-toggle="modal" data-target="#leesMeer">Lees meer...</button>
                        </div>
                    </article> 
                </div>
            </div>
        </div>
            <div class="row p-3 m-0">
            <div class="col-md-2 p-0 m-0"></div>
            <div class="col-md-7 p-0 m-0">
                <div class="melding rounded">
                    <article class="p-3">
                        <h2>Lorem ipsum</h2>
                        <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vitae vehicula elit, quis porttitor eros. Ut tincidunt felis tortor, et lacinia turpis imperdiet et. Integer rhoncus lacus dui, id commodo libero aliquet non. Suspendisse quis felis risus. Nulla eu metus tincidunt, ultricies tortor nec, ultricies turpis. Suspendisse vitae lacinia nulla. Ut imperdiet varius finibus. Proin interdum libero a mi iaculis venenatis. Donec aliquet varius dui, non mollis neque sollicitudin id. Sed lorem quam, porta ac arcu non, pellentesque cursus augue. Ut ac est mauris. Duis tristique ante vitae interdum dictum. Fusce dictum mattis urna eu mattis. Duis vitae rutrum nisl. Mauris ultrices pulvinar neque sed blandit.</P>
                        <div class="row p-0 m-0">
                        <p class="col-md-6 p-0 m-0">Categorie: #Lorem #ipum</p>
                        <p class="col-md-4 p-0 m-0">Geplaatst door:  Lorem Ipsum</p>
                        <button class="col-md-2 p-0 m-0 btn btn-primary" data-toggle="modal" data-target="#leesMeer">Lees meer...</button>
                        </div>
                    </article> 
                </div>
            </div>
        </div>
        <div class="row p-3 m-0">
            <div class="col-md-2 p-0 m-0"></div>
            <div class="col-md-7 p-0 m-0">
                <div class="melding rounded">
                    <article class="p-3">
                        <h2>Lorem ipsum</h2>
                        <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vitae vehicula elit, quis porttitor eros. Ut tincidunt felis tortor, et lacinia turpis imperdiet et. Integer rhoncus lacus dui, id commodo libero aliquet non. Suspendisse quis felis risus. Nulla eu metus tincidunt, ultricies tortor nec, ultricies turpis. Suspendisse vitae lacinia nulla. Ut imperdiet varius finibus. Proin interdum libero a mi iaculis venenatis. Donec aliquet varius dui, non mollis neque sollicitudin id. Sed lorem quam, porta ac arcu non, pellentesque cursus augue. Ut ac est mauris. Duis tristique ante vitae interdum dictum. Fusce dictum mattis urna eu mattis. Duis vitae rutrum nisl. Mauris ultrices pulvinar neque sed blandit.</P>
                        <div class="row p-0 m-0">
                        <p class="col-md-6 p-0 m-0">Categorie: #Lorem #ipum</p>
                        <p class="col-md-4 p-0 m-0">Geplaatst door:  Lorem Ipsum</p>
                        <button class="col-md-2 p-0 m-0 btn btn-primary" data-toggle="modal" data-target="#leesMeer">Lees meer...</button>
                    </article> 
                </div>
            </div>
        </div>
    </div>

<!--- Modal voor het inloggen---->
<div class="modal fade bd-example-modal-lg" id="NieuwBericht" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nieuw Bericht</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="row p-0 m-0">
                <div class="col-8 p-0 m-0">
                    <a>Naam bericht:</a> 
                    <input id="NaamBericht"></input>
                 </div>
                <div class ="col-4 p-0 m-0">
                <a>Dit bericht anoniem plaatsen?</a>
                <input type="checkbox" id="AnoniemPlaatsen" class="col-5 p-0 m-0"></input>
            </div> 
        </div>
        <div class="row p-0 m-0">
            <textarea id="bericht" rows="12" cols="75" placeholder="Typ hier uw bericht in"></textarea>
        </div>
        <div class="row p-0 m-2">
            <div class="col-8 p-0 m-0">
                <a>Catagorieën:</a>
                <input>
            </div>
            <div class="col-4 p-0 m-0">
                <a>Foto toevoegen</a> 
               <button><i class="fa fa-file-photo-o"></i></button>
            </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Plaats bericht</button>
      </div>
    </div>
  </div>
</div>

<!--- Modal voor de reacties---->
<div class="modal fade bd-example-modal-lg" id="leesMeer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-7">
                    <h5>Titel bericht</h5>
                </div>
                <div class="col-md-4">
                    <h5>Geplaatst door: Lorem Ipsum</h5>
                </div>
                <div class="col-md-1">
                    <a><i class="far fa-thumbs-up"></i></a><p style="display: inline;">5</p>
                </div>
            </div>
            <div class="modal-body">
                <div class="row p-3 m-0">
                    <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vitae vehicula elit, quis porttitor eros. Ut tincidunt felis tortor, et lacinia turpis imperdiet et. Integer rhoncus lacus dui, id commodo libero aliquet non. Suspendisse quis felis risus. Nulla eu metus tincidunt, ultricies tortor nec, ultricies turpis. Suspendisse vitae lacinia nulla. Ut imperdiet varius finibus. Proin interdum libero a mi iaculis venenatis. Donec aliquet varius dui, non mollis neque sollicitudin id. Sed lorem quam, porta ac arcu non, pellentesque cursus augue. Ut ac est mauris. Duis tristique ante vitae interdum dictum. Fusce dictum mattis urna eu mattis. Duis vitae rutrum nisl. Mauris ultrices pulvinar neque sed blandit.</P>            
                </div>
                <hr/>
                <div class="col-md-2"></div>
                <div class="container border col-md-8 p-2">
                    <div class="row p-0 m-0">
                        <div class="col-md-11">
                            <p>Lorem Ipsum</p>
                        </div>
                        <div class="col-md-1">
                            <a><i class="far fa-thumbs-up"></i></a><p style="display: inline;">5</p>
                        </div>
                    </div>
                    <div class="row p-0 m-0">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vitae vehicula elit, quis porttitor eros. Ut tincidunt felis tortor, et lacinia turpis imperdiet et. Integer rhoncus lacus dui, id commodo libero aliquet non. Suspendisse quis felis risus.</p>
                    </div>
                </div>
                <hr class="p-0 mt-3 mb-0 ml-0 mr-0"/>
            </div>
            
                <div class="row p-2 m-1">
                    <div class="col-md-10">
                        <textarea id="reactie" rows="1" cols="75" placeholder="Typ hier uw reactie in..."></textarea>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-primary">Plaats reactie</button>
                    </div>
                </div>
        </div>
    </div>
</div>
