    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> 
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
<header>
    <div class ="row p-0 m-0">
        <div class="row-md-4 p-0 m-0">
                <button class="btn" data-toggle="modal" data-target="#NieuwBericht">bericht maken <i class="fa fa-plus"></i></button>
                </div>
                <div class="row-md-4 p-0 m-0">
                    <input type="text" placeholder="Search.." name="search">
                    <button class="btn"><i class="fa fa-search"></i></button>
            </div>
        <div class="col-md-3 p-0 m-0">
            <Button></Button>
        </div>
    </div>
</header>
    <div class="row p-3 m-0">
        <div class="col-md-2 p-0 m-0"></div>
        <div class="col-md-7 p-0 m-0">
            <div class="melding">
                    <article>
                        <h2>Jas gevonden</h2>
                        <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vitae vehicula elit, quis porttitor eros. Ut tincidunt felis tortor, et lacinia turpis imperdiet et. Integer rhoncus lacus dui, id commodo libero aliquet non. Suspendisse quis felis risus. Nulla eu metus tincidunt, ultricies tortor nec, ultricies turpis. Suspendisse vitae lacinia nulla. Ut imperdiet varius finibus. Proin interdum libero a mi iaculis venenatis. Donec aliquet varius dui, non mollis neque sollicitudin id. Sed lorem quam, porta ac arcu non, pellentesque cursus augue. Ut ac est mauris. Duis tristique ante vitae interdum dictum. Fusce dictum mattis urna eu mattis. Duis vitae rutrum nisl. Mauris ultrices pulvinar neque sed blandit.</P>
                        <div class="row p-0 m-0">
                        <p class="col-md-10 p-0 m-0">Catagorie: #jas #broek</p>
                        <a class="col-md-2 p-0 m-0" href="url">Lees meer...</a>
                        </div>
                    </article> 
                </div>
            </div>
        </div>
            <div class="row p-3 m-0">
            <div class="col-md-2 p-0 m-0"></div>
            <div class="col-md-7 p-0 m-0">
                <div class="melding">
                    <article>
                        <h2>Lorem ipsum</h2>
                        <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vitae vehicula elit, quis porttitor eros. Ut tincidunt felis tortor, et lacinia turpis imperdiet et. Integer rhoncus lacus dui, id commodo libero aliquet non. Suspendisse quis felis risus. Nulla eu metus tincidunt, ultricies tortor nec, ultricies turpis. Suspendisse vitae lacinia nulla. Ut imperdiet varius finibus. Proin interdum libero a mi iaculis venenatis. Donec aliquet varius dui, non mollis neque sollicitudin id. Sed lorem quam, porta ac arcu non, pellentesque cursus augue. Ut ac est mauris. Duis tristique ante vitae interdum dictum. Fusce dictum mattis urna eu mattis. Duis vitae rutrum nisl. Mauris ultrices pulvinar neque sed blandit.</P>
                        <div class="row p-0 m-0">
                        <p class="col-md-10 p-0 m-0">Catagorie: #Lorem #ipum</p>
                        <a class="col-md-2 p-0 m-0" href="url">Lees meer...</a>
                        </div>
                    </article> 
                </div>
            </div>
        </div>
                    <div class="row p-3 m-0">
            <div class="col-md-2 p-0 m-0"></div>
            <div class="col-md-7 p-0 m-0">
                <div class="melding">
                    <article>
                        <h2>Lorem ipsum</h2>
                        <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vitae vehicula elit, quis porttitor eros. Ut tincidunt felis tortor, et lacinia turpis imperdiet et. Integer rhoncus lacus dui, id commodo libero aliquet non. Suspendisse quis felis risus. Nulla eu metus tincidunt, ultricies tortor nec, ultricies turpis. Suspendisse vitae lacinia nulla. Ut imperdiet varius finibus. Proin interdum libero a mi iaculis venenatis. Donec aliquet varius dui, non mollis neque sollicitudin id. Sed lorem quam, porta ac arcu non, pellentesque cursus augue. Ut ac est mauris. Duis tristique ante vitae interdum dictum. Fusce dictum mattis urna eu mattis. Duis vitae rutrum nisl. Mauris ultrices pulvinar neque sed blandit.</P>
                        <div class="row p-0 m-0">
                        <p class="col-md-10 p-0 m-0">Catagorie: #Lorem #ipum</p>
                        <a class="col-md-2 p-0 m-0" href="url">Lees meer...</a>
                        </div>
                    </article> 
                </div>
            </div>
        </div>
    </div>

<!--- Modal voor het inloggen---->
<div class="modal fade" id="NieuwBericht" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nieuw Bericht</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Plaats bericht</button>
      </div>
    </div>
  </div>
</div>
