<body>
    <form class="col-12 p-3" method="POST">
        <div class="form-group m-0 p-1">
            <div class="col-12 p-1">
                <label for="emailAdres">Emailadres:</label>
                <input type="email" id="emailAdres" class="form-control" placeholder="Voorbeeld@emailadres.nl">
            </div>
        </div>
        <div class="form-row justify-content-between m-0 p-1">
            <div class="col-12 col-md-5 m-0 p-1">
                <label for="voorNaam">Voornaam:</label>
                <input type="text" id="voorNaam" class="form-control" placeholder="Voornaam">
            </div>
            <div class="col-12 col-md-5 m-0 p-1">
                <label for="achterNaam">Achternaam:</label>
                <input type="text" id="achterNaam" class="form-control" placeholder="Achternaam">   
            </div>
        </div>
        
        <div class="form-group m-0 p-1">
            <div class="col-12 p-1 form-check">
                <input type="checkbox" id="isAnoniem">
                <label class="form-check-label" for="isAnoniem">Ik wil anoniem blijven</label>
            </div>
        </div>

        <div class="form-group m-0 p-1">
            <div class="col-12 col-md-4 p-1 justify-content-between">
                <button class="btn btn-dark col-5" type="submit">Wijzigingen opslaan</button>
                <button class="btn btn-dark col-5" type="submit">Account verwijderen</button>
            </div> 
        </div>
    </form>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> 
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</body>

