@{
    ViewData["Title"] ="Registreren";
}
<div class="text-center registrationheading m-0">
            <h1 class="registrationText p-0 m-0">Registreren</h1>
        </div>


<form asp-action="registreer">
    <div class="container p-0">
        <hr class="mt-0 pt-0"/>
        <div class="form-group row p-3 m-0">
            <div class="col-sm-2"></div>
                <label for="VoorNaam" class="col-sm-2 col-form-label">Voornaam:</label>
                <div class="col-sm-6">
                    <input class="form-control inputform" type="registrate" name="VoorNaam" value="" placeholder="Voornaam"/>
                </div>
            </div>
            <div class="form-group row p-3 m-0">
                <div class="col-sm-2"></div>
                <label for="AchterNaam" class="col-sm-2 col-form-label">Achternaam:</label>
                <div class="col-sm-6">
                    <input class="form-control inputform" type="registrate" name="AchterNaam" value="" placeholder="Achternaam"/>
                </div>
            </div>
            <div class="form-group row p-3 m-0">
                <div class="col-sm-2"></div>
                <label for="EmailAdres" class="col-sm-2 col-form-label">E-mailadres:</label>
                <div class="col-sm-6">
                    <input class="form-control inputform" type="registrate" name="EmailAdres" value="" placeholder="E-mailadres"/>
                </div>
            </div>
            <div class="form-group row p-3 m-0">
                <div class="col-sm-2"></div>
                <label for="PostCode" class="col-sm-1 col-form-label">Postcode:</label>
                <div class="col-sm-3">
                    <input class="form-control inputform" type="registrate" name="PostCode" value="" placeholder="Postcode"/>
                </div>
                <label for="HuisNummer" class="col-sm-2 col-form-label">Huisnummer:</label>
                <div class="col-sm-2">
                    <input class="form-control inputform" type="registrate" name="HuisNummer" value="" placeholder="Huisnummer">
                </div>
            </div>
            <div class="row p-3 m-0">
                <div class="col-sm-2"></div>
                <div class="col-sm-7">
                    <button type="submit" class="btn btn-primary">Registreren</button>
                </div>
            </div>
            <div class="row pt-0 pl-3 pb-3 m-0">
                <div class="col-sm-2"></div>
                <div class="col-sm-7">
                    <p>Ik heb al een account! <a asp-area="" asp-controller="Home" asp-action="Inloggen">Log in</a></p>
                </div>
            </div>
        </div>
    </div>
</form>