@model RapportViewModel;

<div>
    @foreach (var rapport in Model.meldingRapporten)
    {
        <h3>@rapport.RapportId</h3>
        <p>@rapport.GemaaktDoor</p>
    }

    @foreach (var rapport in Model.reactieRapporten)
    {
        <p>Reactie</p>
    }
</div>