@page
@model Disable2faModel
@{
    ViewData["Title"] = "Schakel tweefactorauthenticatie uit (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<div class="row justify-content-lg-end justify-content-center">
    <div class="col-lg-10 col-12 py-lg-0 py-md-5">
        <h4>@ViewData["Title"]</h4>
        <partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Deze actie schakelt alleen 2FA uit.</strong>
    </p>
    <p>
        Het uitschakelen van 2FA wijzigt niet de sleutels die gebruikt worden in authenticatie apps.
        Als je de sleutel gebruikt in een authenticatie app wilt wijzigen, is het verstandiger om
         <a asp-page="./ResetAuthenticator">je codes te herstellen</a>.
    </p>
</div>

<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger w-100" type="submit">Schakel 2FA uit</button>
    </form>
</div>

</div>
</div>
