@page
@model EmailModel
@{
    ViewData["Title"] = "Wijzig e-mail";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<div class="row justify-content-center">
    <div class="col-lg-8 col-12 py-lg-0 py-md-5">
        <h4>@ViewData["Title"]</h4>
        <partial name="_StatusMessage" model="Model.StatusMessage" />

        <form class="w-100 needs-validation" id="email-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                @if (Model.IsEmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="Email" class="form-control" disabled />
                        <div class="input-group-append">
                            <span class="input-group-text text-success font-weight-bold">✓</span>
                        </div>
                    </div>
                }
                 else
                {
                    <input asp-for="Email" class="form-control" disabled />
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Stuur verificatiemail</button>
                }
            </div>
            <div class="form-group">
                <label asp-for="Input.NewEmail"></label>
                <input asp-for="Input.NewEmail" class="form-control form-validation" required />
                <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
            </div>
            <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="btn btn-dark w-100">Wijzig e-mail</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
