@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="row justify-content-lg-end justify-content-center">
    <div class="col-lg-10 col-12 py-lg-0 py-md-5">
        <h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-12">
        <p>Je account bevat persoonlijke data die je ons hebt verschaft. Deze pagina geeft je de mogelijkheid om je data te downloaden of verwijderen.</p>
        <p>
            <strong>Het verwijderen van deze data verwijderd je account permanent. Dit kan niet worden teruggedraaid</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-dark w-100" type="submit">Download</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger w-100">Delete</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
