@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Reset authenticatie sleutel";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<div class="row justify-content-lg-end justify-content-center">
    <div class="col-lg-10 col-12 py-lg-0 py-md-5">
        <h4>@ViewData["Title"]</h4>
        <partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Als je je authenticatie sleutel reset werkt je authenticatie app niet meer totdat je hem opnieuw insteld.</strong>
    </p>
    <p>
        Dit proces schakelt 2FA uit totdat je je authenticatie app verifieerd. Als je de configuratie van je authenticatie app niet voltooit, verlies je wellicht toegang tot je account.
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post" class="form-group">
        <button id="reset-authenticator-button" class="btn btn-danger w-100" type="submit">Reset authenticatie sleutel</button>
    </form>
</div>

    </div>
</div>