@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "E-mailverificatie";
}

<header>
    <div id="confirm-email-header" class="container bg-white py-3">
        <div class="row m-0 bg-white py-1 text-dark justify-content-center align-content-center align-items-center">
            <div class="col-md-12 m-0 p-0 text-wrap">
                <h1 class="text-break">@ViewData["Title"]</h1>
                <p class="text-secondary">
                    Je e-mailadres en adres zijn succesvol geverifieerd (je adres wordt normaal via de post gevalideerd).
                </p>
            </div>
        </div>
    </div>
</header>