@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Wachtwoord vergeten bevestiging";
}

<header>
    <div id="forgot-password-confirmation-header" class="container bg-white py-3">
        <div class="row m-0 bg-white py-1 text-dark justify-content-center align-content-center align-items-center">
            <div class="col-md-12 m-0 p-0 text-wrap">
                <h1 class="text-break">@ViewData["Title"]</h1>
                <p class="text-secondary">
                    De e-mail om je wachtwoord te herstellen is onderweg.
                </p>
                <p class="text-secondary">
                    Heb je geen e-mail binnen? <strong>Kijk dan ook even in je Spam en/of Ongewenst.</strong>
                </p>
            </div>
        </div>
    </div>
</header>

