@page
@model LoginModel

@{
    ViewData["Title"] = "Inloggen";
}

<header>
    <div id="login-header" class="container bg-white py-3">
        <div class="row m-0 bg-white py-1 text-dark justify-content-center align-content-center align-items-center">
            <div class="col-md-12 m-0 p-0 text-wrap">
                <h1 class="text-break">@ViewData["Title"]</h1>
                <p class="text-secondary">
                    Log hier in bij je account. Heb je nog geen account? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Meld je dan aan</a>.
                </p>
            </div>
        </div>
    </div>
</header>

<div id="login-content" class="container bg-white py-3">
    <div class ="row m-0 bg-white px-2 text-dark justify-content-center align-content-center align-items-center">
        <div class=" col-8 col-md-6 col-lg-4 p-0 py-5 p-0">
            <img class="w-100" alt="Het logo van Look" src="~/images/FINAL_OFF_BLACK_FULL_TRANSPARENT.png"/>
        </div>
    </div>

    <div class ="row m-0 bg-white px-2 text-dark justify-content-center align-content-center align-items-center">
        <div class="col-md-8 p-0 m-0">
            <section class="w-100">
                <form class="needs-validation w-100" id="account" method="post" novalidate>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group w-100">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control form-validation" required/>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group w-100">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control form-validation" required/>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>

                    <div class="form-group w-100">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group w-100">
                        <button type="submit" class="btn btn-dark w-100 d-block">Inloggen</button>
                        @* <input name="__RequestVerificationToken" type="hidden" value="<token_generated_here>"> *@
                    </div>
                    <div class="form-group text-center">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Wachtwoord vergeten?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Ik heb nog geen account</a>
                        </p>
                        <p>
                            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Verifieer e-mailadres</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
