@page
@model RegisterModel
@{
    ViewData["Title"] = "Aanmelden";
}

<header>
    <div id="register-header" class="container bg-white py-3">
        <div class="row m-0 bg-white py-1 text-dark justify-content-center align-content-center align-items-center">
            <div class="col-md-12 m-0 p-0 text-wrap">
                <h1 class="text-break">@ViewData["Title"]</h1>
                <p class="text-secondary">
                    Hier kan je een nieuw account aanmaken. Heb je al een account? <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Log dan in</a>.
                </p>
            </div>
        </div>
    </div>
</header>

<div id="login-content" class="container bg-white py-3">
    <div class ="row m-0 bg-white px-2 text-dark justify-content-center align-content-center align-items-center">
        <div class=" col-8 col-md-6 col-lg-4 p-0 py-5 p-0">
            <img class="w-100" alt="Het logo van Look" src="~/images/FINAL_OFF_BLACK_FULL_TRANSPARENT.png"/>
        </div>
    </div>

    <div class ="row m-0 bg-white px-2 text-dark justify-content-center align-content-center align-items-center">
        <div class="col-md-8 p-0 m-0">
            <partial name="_StatusMessage" model="Model.StatusMessage" />
            <section class="w-100">
                <form class="needs-validation w-100" id="account" method="post" oninput='ConfirmPassword.setCustomValidity(ConfirmPassword.value != Password.value ? "Passwords do not match." : "")' novalidate>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="Input.FirstName"></label>
                            <input asp-for="Input.FirstName" class="form-control form-validation" required />
                            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                        </div>
                        
                        <div class="form-group col-md-6">
                            <label asp-for="Input.LastName"></label>
                            <input asp-for="Input.LastName" class="form-control form-validation" required />
                            <span asp-validation-for="Input.LastName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="Input.Street"></label>
                            <input asp-for="Input.Street" class="form-control form-validation address-fill" required />
                            <span asp-validation-for="Input.ZipCode" class="text-danger"></span>
                        </div>
                        
                        <div class="form-group col-md-4 col-8">
                            <label asp-for="Input.HouseNumber"></label>
                            <input asp-for="Input.HouseNumber" pattern="[0-9]+" class="form-control form-validation address-fill" required />
                            <span asp-validation-for="Input.HouseNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-2 col-4">
                            <label asp-for="Input.HouseNumberAddition"></label>
                            <input asp-for="Input.HouseNumberAddition" pattern="[a-zA-Z0-9]+" class="form-control form-validation address-fill" />
                            <span asp-validation-for="Input.HouseNumberAddition" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label asp-for="Input.ZipCode"></label>
                            <input asp-for="Input.ZipCode" class="form-control form-validation" required />
                            <span asp-validation-for="Input.ZipCode" pattern="[1-9][0-9]{3}\s?[a-zA-Z]{2}" class="text-danger"></span>
                        </div>
                        
                        <div class="form-group col-md-8">
                            <label asp-for="Input.City"></label>
                            <input asp-for="Input.City" class="form-control form-validation" required/>
                            <span asp-validation-for="Input.City" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control form-validation" required />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label asp-for="Input.Password"></label>
                            <input id="Password" asp-for="Input.Password" class="form-control form-validation" required />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label asp-for="Input.ConfirmPassword"></label>
                            <input id="ConfirmPassword" asp-for="Input.ConfirmPassword" class="form-control form-validation" required />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <div id="Input.Captcha" name="Input.Captcha" class="g-recaptcha" data-sitekey="6Lf50P8ZAAAAAN_hEUTW2BRZ6f-v0X1ShZHbswl9"></div>
                            <div class="invalid-feedback">
                                Vul alsjeblieft de reCAPTCHA in.
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-row">
                        <div class="form-group w-100">
                            <button type="submit" class="btn btn-dark w-100 d-block">Registreren</button>
                            @* <input name="__RequestVerificationToken" type="hidden" value="<token_generated_here>"> *@
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
