<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Look</title>
    <partial name="_Favicons.cshtml" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-toggleable-sm text-dark bg-white">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="w-100" alt="Het logo van Look" src="~/images/FINAL_OFF_BLACK_FULL_TRANSPARENT.png"/>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <i class="navbar-toggler-icon nav-link fas fa-bars text-dark"></i>
                </button>

                <div class="navbar-collapse collapse justify-content-between">
                    <ul class="nav">

                    </ul>
                    <ul class="nav navbar-nav nav-links">
                        <li class="nav-item text-center">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item text-center">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Profiel">Profiel</a>
                        </li>
                        <li class="nav-item text-center">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Meldingen">Meldingen</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-right justify-content-center">
                        <li class="nav-item text-center">
                            <a class="nav-social nav-link text-dark" href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li class="nav-item text-center">
                            <a class="nav-social nav-link text-dark" href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="nav-item text-center">
                            <a class="nav-social nav-link text-dark" href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="nav-item text-center">
                            <button type="button" class="btn btn-dark nav-link" data-target="#loginModal" data-toggle="modal">Inloggen</button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- Login Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content border-0 p-3">
                <div class="modal-header border-0 w-100">
                    <h5 class="modal-title ls-0" id="loginModalLabel">
                        Inloggen
                    </h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form>
                    <div class="modal-body text-left">
                        <div class="form-group w-100">
                            <label for="inputEmail">E-mailadres</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="E-mail">
                            <small id="emailHelp" class="form-text text-muted">We zullen nooit uw email met iemand anders delen.</small>
                        </div>
                        <div class="form-group w-100">
                            <label for="inputPassword">Wachtwoord</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Wachtwoord">
                        </div>
                    </div>

                    <div class="modal-footer row border-0">
                        <div class="form-group w-100">
                            <button type="submit" class="btn btn-dark w-100 d-block" data-dismiss="modal"><h6 class="my-1">INLOGGEN</h6></button>
                        </div>
                        <div class="form-group m-0 w-100 text-center">
                            <a data-toggle="modal" href="#registerModal" data-dismiss="modal">Ik heb nog geen account.</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Register Modal -->
    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content border-0 p-3">
                <div class="modal-header border-0 w-100">
                    <h5 class="modal-title ls-0" id="registerModalLabel">
                        Registreren
                    </h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form>
                    <div class="modal-body text-left">
                        <div class="form-row">
                            <div class="form-group col-sm-6">
                                <label for="inputName">Voornaam</label>
                                <input type="text" class="form-control" id="inputName" placeholder="Voornaam">
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="inputSurname">Achternaam</label>
                                <input type="text" class="form-control" id="inputSurname" placeholder="Achternaam">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="inputUsername">Gebruikersnaam</label>
                            <input type="text" class="form-control" id="inputUsername" placeholder="Gebruikersnaam">
                        </div>

                        <div class="form-row">
                            <div class="form-group col-sm-7">
                                <label for="inputAddress">Straat</label>
                                <input type="text" class="form-control" id="inputAddress" placeholder="Straat">
                            </div>
                            <div class="form-group col-sm-3">
                                <label for="inputHouseNumber">Huisnummer</label>
                                <input type="text" class="form-control" id="inputHouseNumber" placeholder="Huisnr">
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="inputHouseNumberAddition">Toev.</label>
                                <input type="text" class="form-control" id="inputHouseNumberAddition" placeholder="Toev">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-sm-8">
                                <label for="inputCity">Stad</label>
                                <input type="text" class="form-control" id="inputCity" placeholder="Stad">
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="inputZip">Postcode</label>
                                <input type="text" class="form-control" id="inputZip" placeholder="Postcode">
                            </div>
                        </div>


                        <div class="form-group w-100">
                            <label for="inputEmail">E-mailadres</label>
                            <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="E-mail">
                            <small id="emailHelp" class="form-text text-secondary">We zullen nooit uw email met iemand anders delen.</small>
                        </div>
                        <div class="form-group w-100">
                            <label for="inputPassword">Wachtwoord</label>
                            <input type="password" class="form-control" id="inputPassword" placeholder="Wachtwoord">
                        </div>
                        <div class="form-group w-100">
                            <label for="inputPassword">Herhaal Wachtwoord</label>
                            <input type="password" class="form-control" id="inputPasswordValid" placeholder="Wachtwoord">
                        </div>
                    </div>

                    <div class="modal-footer row border-0">
                        <div class="form-group w-100">
                            <button type="submit" class="btn btn-dark w-100 d-block" data-dismiss="modal"><h6 class="my-1">AANMELDEN</h6></button>
                        </div>
                        <div class="form-group m-0 w-100 text-center">
                            <a data-toggle="modal" href="#loginModal" data-dismiss="modal">Ik heb al een account.</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <main role="main" class="py-5">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-white bg-dark">
        <div class="container">
            <div class="row p-0 m-0">
                <div class="col-md-3 p-0 m-0 pr-3">
                    <div class="row w-100 p-0 m-0 text-wrap">
                        <div class="col-12 p-0 m-0">
                            <h6>OVER ONS</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </div>
                    <div class="row w-100 p-0 m-0 text-wrap">
                        <div class="col-12 p-0 m-0 pb-3">
                            <h6>ABONNEER</h6>
                            <form class="form-inline form-subscribe">
                                <div class="form-group w-100 p-0 m-0">
                                    <label for="inputEmail" class="sr-only">Email</label>
                                    <input type="email" class="form-control w-100" id="inputEmail" placeholder="email">
                                </div>
                                <button type="submit" class="btn btn-secondary"><i class="fas fa-angle-right"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 p-0 m-0 pr-3">
                    <h6>LAATSTE TWEETS</h6>
                </div>
                <div class="col-md-5 p-0 m-0">
                    <h6>INSTAGRAM</h6>
                </div>
            </div>
            <div class="row w-100 p-0 m-0 text-secondary text-center">
                <div class="col-12">
                    <p class="m-0">&copy; Copyright 2020, Look</p>
                </div>
            </div>
            <div class="row w-100 p-0 m-0 text-secondary text-center justify-content-center">
                <div class="col-md-2">
                    <a href="#">Privacy Policy</a>
                </div>

                <div class="col-md-2">
                    <a href="#">Cookie Policy</a>
                </div>

                <div class="col-md-2">
                    <a href="#">Contact</a>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script>
        function onSubmit(token) {
            document.getElementById("demo-form").submit();
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
