/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*BASICS*/
body {
  font-family: Poppins;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Poppins;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.btn-dark {
  background: #343434 !important;
  color: #ffffff !important;
}

.btn-secondary {
  background: #777777 !important;
  color: #ffffff !important;
}

.bg-white {
  background: #ffffff !important;
}

.bg-dark {
  background: #343434 !important;
}

.bg-secondary {
  background: #777777 !important;
}

.text-white {
  color: #ffffff !important;
}

.text-dark {
  color: #343434 !important;
}

.text-secondary {
  color: #777777 !important;
}

.btn, .btn:focus, .btn:active, button, button:focus, button:active {
  outline: none !important;
  border: 0 !important;
  box-shadow: none !important;
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

.form-subscribe {
  position: relative;
}

.form-subscribe button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 38px;
  font-size: 20px;
}
/*NAVBAR*/
.navbar {
  border-bottom: 1px 1px 1px;
}

.navbar .navbar-brand {
  width: 150px;
  padding: 10px 25px;
}

.navbar .nav-links a {
  font-size: 20px;
}

.navbar i {
  font-size: 25px;
}

.navbar .nav-social {
  padding: 8px 8px;
}

.navbar .btn {
  margin: 0 0 0 8px;
}

.navbar #loginModal a {
  font-size: 1rem;
  letter-spacing: 
}

/*INTRODUCTION*/
#introduction {
  height: 75vh;
}

/*SLIDESHOW*/
#slideshow {
  height: 35vh;
}

/*DETAILS*/
#details {
  height: 75vh;
}

/*STANDARD*/

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 16px;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.container-fluid {
  padding: 0;
}

.footer {
  width: 100%;
  white-space: nowrap;
  padding: 30px;
}
.melding {
  background-color: #DDDDDD;
  color: #343434;
}

.registrationheading {
  background-color: #343434 ;
  padding: 10px ;
}

.registrationText {
  color: #ffffff;
}

.inputform {
  background-color: #343434;
}

input[type="registrate"]::placeholder {
  color: #DDDDDD;
}