/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*BASICS*/
body {
  font-family: Poppins;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Poppins;
  font-weight: 600;
}

h6 {
  letter-spacing: 1.5px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 20px;
}

.select-box {
  position: relative;
}

.select-box .selector {
  position: absolute;
  top: 50%;
  right: 2px;
  transform: translate(-50%, -50%);
  font-size: 20px !important;
}

.list-group-item-dark {
  background: #343434 !important;
  color: #ffffff !important;
  border: none !important;
}

.list-group-item-dark:hover {
  background: #ffffff !important;
  color: #343434 !important;
  opacity: 1 !important;
}

.list-group-item-white {
  background: #ffffff !important;
  color: #343434 !important;
  border: none !important;
}

.list-group-item-white:hover {
  background: #343434 !important;
  color: #ffffff !important;
  border: none !important;
  opacity: 1 !important;
}

.btn-dark {
  background: #343434 !important;
  color: #ffffff !important;
}

.btn-outline-dark {
  border: 1px solid #343434 !important;
  color: #343434 !important;
}

.btn-outline-dark:hover {
  background: #343434 !important;
  color: #ffffff !important;
}

.btn-secondary {
  background: #777777 !important;
  color: #ffffff !important;
}

.bg-white {
  background: #ffffff !important;
}

.bg-dark {
  background: #343434 !important;
}

.bg-light {
  background: #DDDDDD !important;
}

.bg-secondary {
  background: #777777 !important;
}

.bg-secondary-7 {
  background: rgba(119, 119, 119, 0.7) !important;
}

.text-white {
  color: #ffffff !important;
}

.text-dark {
  color: #343434 !important;
}

.text-secondary {
  color: #777777 !important;
}

.btn, .btn:focus, .btn:active, button, button:focus, button:active {
  outline: none !important;
  border: 0 !important;
  box-shadow: none !important;
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
  transition: .3s ease;
}

.form-subscribe {
  position: relative;
}

.form-subscribe button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 38px;
  font-size: 20px !important;
}
.form-search {
  position: relative;
}

.form-search button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.ls-0 {
  letter-spacing: 0px !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#meldingen-content .categorie:hover {
  text-decoration: none;
  background: #777777;
  color: #ffffff !important;
  transition: .3s ease;
}

.box-shadow-full {
  box-shadow: 0 0 1.75rem rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 0 1.75rem rgba(0, 0, 0, .2);
}

.button-href {
  text-decoration: none !important;
}

/*NAVBAR*/

.navbar .navbar-brand:hover {
  opacity: 1 !important;

}

.navbar .navbar-img {
  width: 135px;
  padding: 10px 25px;
}

.navbar .nav-links a {
  font-size: 18px;
}

.navbar i {
  font-size: 22px;
  color: #343434 !important;
}

.navbar i.nav-profile {
  font-size: 20px !important; 
  color: #ffffff !important;
}

.nav-pills .nav-link.active {
  color: #ffffff !important;
  background: #343434 !important;
  border: none !important;
}

.nav-pills .nav-link {
  color: #343434 !important;
  background: #ffffff !important;
  border: none !important;
}

/*SIDEBAR*/
 #wrapper {
    overflow-x: hidden;
 }

#sidebar-wrapper {
  min-height: 100vh;
  margin-right: -15rem;
  -webkit-transition: margin .25s ease;
  -moz-transition: margin .25s ease;
  -o-transition: margin .25s ease;
  transition: margin .25s ease;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-right: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-right: -15rem;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-right: 0;
  }

  
}


/*DETAILS*/

#details .feature i {
  font-size: 60px;
}
/*STANDARD*/

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 16px;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  -moz-box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.container-fluid {
  padding: 0;
}

.footer {
  width: 100%;
  white-space: nowrap;
  padding: 30px;
}

#changeAvatarLabel {
  color: #0366d6;
}

#changeAvatarLabel:hover {
  text-decoration: underline;
  cursor: pointer;
}

#show_button{
  display: none;
  border: 1px solid #343434;
 }