

<form asp-action="PlaatsBericht">
                    <div class="col-md-10">
                       <div class="form-group">
                        <label  class="control-label"></label> <!--dit is wat erboven komt te staan--> 
                        <input class="form-control" />  <!--dit is de link naar het stukje data wat het moet vervangen denk ik--> 
                        <span  class="text-danger"></span>
                    </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="PlaatsBericht" class="btn btn-primary" />
                     </div>
                </form>
                
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}