               <!--reactie -->  
               @model Look.Models.Melding

                    @if(Model.Reacties==null){
                        <p>Dit bericht heeft nog geen reacties.<br>Wees de eerste!</p>
                    }else{
                            @foreach (var reacties in Model.Reacties)
                            {
                                <div class="container border col-md-8 p-2">
                                    <div class="row p-0 m-0">
                                        <div class="col-md-11">
                                        </div>
                                        <div class="col-md-1">
                                            <a><i class="far fa-thumbs-up"></i></a><p style="display: inline;">@reacties.Likes</p>
                                        </div>
                                    </div>
                                    <div class="row p-0 m-0">
                                        <p>@reacties.Bericht</p>
                                    </div>
                                </div>
                        <hr class="p-0 mt-3 mb-0 ml-0 mr-0"/>
                        }
                    }    
        