@{
    ViewData["Title"] = "Melding rapporterem";
}

<header>
    <div id="rapport-header" class="container bg-white py-3">
        <div class="row m-0 bg-white py-1 text-dark justify-content-center align-content-center align-items-center">
            <div class="col-md-12 m-0 p-0 text-wrap">
                <h1 class="text-break">@ViewData["Title"]</h1>
                <p class="text-secondary">
                    Op deze pagina kunt u een melding rapporteren.
                </p>
            </div>
        </div>
    </div>
</header>

<div id="login-content" class="container bg-white py-3">
    <div class ="row m-0 bg-white px-2 text-dark justify-content-center align-content-center align-items-center">
        <div class=" col-8 col-md-6 col-lg-4 p-0 py-5 p-0">
            <img class="w-100" alt="Het logo van Look" src="~/images/FINAL_OFF_BLACK_FULL_TRANSPARENT.png"/>
        </div>
    </div>

    <div class ="row m-0 bg-white px-2 text-dark justify-content-center align-content-center align-items-center">
        <div class="col-md-8 p-0 m-0">
            <section class="w-100">
                <form class="needs-validation w-100" id="rapport" method="post" novalidate>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group w-100">
                        <label for="rapport-type">Example select</label>
                        <select class="form-control" id="rapport-type">
                            <option>Aanstootgevend taalgebruik</option>
                            <option>Seksuele inhoud</option>
                            <option>Gewelddadige inhoud</option>
                            <option>Criminaliteit</option>
                            <option>Inbreuk op privacy</option>
                        </select>
                    </div>
                    <div class="form-group w-100">
                        <button type="submit" class="btn btn-dark w-100 d-block" tabindex="1">Inloggen</button>
                        @* <input name="__RequestVerificationToken" type="hidden" value="<token_generated_here>"> *@
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}